body{
    background:linear-gradient(to right, #ff0000, #ff6600);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1 {
    color: #08ceff;
    font-size: 36px;
    margin-bottom: 20px;
    margin-bottom: dotted;
}
#container {
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.812);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name, #ask {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 200px;
}
#gender {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 220px;
}
#age {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 100px;
}
#email {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 250px;
}
#message {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 100px;
}
#submit {
    background-color: #ff3300;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
#btn {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
#btn:hover {
    background-color: #333333;
}
#btn:active {
    background-color: #666666;
}